html {
    font-size: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.grafico-logo-padre {
    display: flex; 
    align-items: center; 
    margin-right: 1rem;
}

.grafico-logo-padre img {
    max-width: 100px; 
    height: auto; 
    display: block; 
}
.header-contenedor {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 1rem; 
    padding: 1rem; 
}

.titulo-imagen{
    color: white;
}

.caja, .funcion{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;    
}

.imagen-padre,
form{
    background-image: url(../../imgs/hermoso-diseno-holograma-criptomonedas.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}
.imagen-fondo{
        position: absolute;
        background-color: rgba(4, 12, 1, 0.75);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: x-large;
        flex-wrap: wrap;    

}
.imagen-fondo a{
    text-decoration: none; 
    color: #ffffff; 
    font-size: 1.5rem; 
    background-color:rgba(255, 255, 0, 0.5); 
    padding: 10px 20px; 
    border-radius: 5px;
}

img {    
    margin-top: 20px;    
}
.logo_whats{
    position: fixed; 
    bottom: 0; 
    right: 0; 
    padding: 1rem;
}
.logo_whats img{
    max-width: 60px;
    height: auto;
}

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;
    padding: 1rem;
    margin: 2rem;
    z-index: 1000;

}
footer{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: gray;
    color:black;
    padding: .15rem;
    margin: 30px;
    
}
fieldset{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 40, 40, 0.8);
    border-radius: 50px;
    height: 80%;
}
label, legend{
    color: aliceblue;
    background-color: rgba(0, 40, 40, 0.8);
    border-radius: 50px;
}